################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary/.vs/ClassLibrary/v15/Server/sqlite3/db.lock
